<div class="container">

<% if current_landlord.properties.count < 1 %>

        <div class="jumotron text-center">
          <div class="well">
            <h1><div class="glyphicon glyphicon-user"></div></h1>
            <h3><strong>You don't have any tenants yet.</strong></h3>
                <%= link_to "Set Up a Tenant", new_tenant_path, class:"btn btn-primary"  %>
          </div>
        </div>

<% else %>



<div class="well">
<ul class="nav nav-pills">
    <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">Active  <div class="badge"><%= @active_tenants.count %></div></a></li>
  <li class=""><a href="#home" data-toggle="tab" aria-expanded="false">Past <div class="badge"><%= @past_tenants.count %></div></a></li>
  <li class=""><a href="#potential" data-toggle="tab" aria-expanded="false">Potential  <div class="badge"><%= @potential_tenants.count %></div></a></li>
  <li class=""><%= link_to 'Set Up a new Tenant', new_tenant_path %></li>
</ul>
</div>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="profile"><br>
    <ul class="list-group">
    <% @active_tenants.each do |tenant| %>
        <li class="list-group-item">
            <h4><%= link_to tenant.name, tenant %></h4>
            <h5><%= link_to tenant.property.address, tenant.property %></h5>
            <h6><a href="mailto:<%= tenant.email %>"><%= tenant.email %></a></h6>
            <h6><%= tenant.phone %></h6>
        </li>
    <% end %>
    </ul>
  </div>
  <div class="tab-pane fade" id="home"><br>
    <ul class="list-group">
        <% @past_tenants.each do |tenant| %>
        <li class="list-group-item">
            <h4><%= link_to tenant.name, tenant %></h4>
            <h5><%= link_to tenant.property.address, tenant.property %></h5>
            <h6><a href="mailto:<%= tenant.email %>"><%= tenant.email %></a></h6>
            <h6><%= tenant.phone %></h6>
        </li>
    <% end %>
        </ul>
  </div>
  <div class="tab-pane fade" id="potential"><br>
    <ul class="list-group">
         <% @potential_tenants.each do |tenant| %>
        <li class="list-group-item">
            <h4><%= link_to tenant.name, tenant %></h4>
            <h5><%= link_to tenant.property.address, tenant.property %></h5>
            <h6><a href="mailto:<%= tenant.email %>"><%= tenant.email %></a></h6>
            <h6><%= tenant.phone %></h6>
        </li>
    <% end %>
        </ul>
  </div>
</div>

<% end %>

</div>