<h1>Tenants</h1>

  <div class="list-group">
    <% @tenants.each do |tenant| %>
        <div class="list-group-item">
            <span class="badge"><a href='/issues'>Issues: <%= tenant.property.issues.count %></span></a>
        <h4><%= link_to tenant.name, tenant %></h4>
        <h5><%= link_to tenant.property.address, tenant.property %></h5>
        <h6><a href="mailto:<%= tenant.email %>"><%= tenant.email %></a>  |  <%= tenant.phone %></h6>
        <%= link_to 'Detail', tenant, class:"btn btn-warning btn-xs" %>
        </div>
    <% end %>
  </div>

<br>

<%= link_to 'Set Up a New Tenant', new_tenant_path, class:"btn btn-success" %>
