
<div class="container">

  <p id="notice"><%= notice %></p>

  <h4 class="text-center"><%= @tenant.name %></h4>


  <ul class="list-group">

    <a class="list-group-item" href="<%= property_path(@tenant.property.id)%>">
      <strong><%= @tenant.property.address %>
    </a>

    <a class="list-group-item" href="mailto:<%= @tenant.email%>">
      <%= @tenant.email %>
    </a>

    <li class="list-group-item">
      <%= @tenant.phone %>
    </li>

    <li class="list-group-item">
      <%= @tenant.status.titleize %>
    </li>

  </ul>

  <div class="well">
    <ul class="nav nav-pills">
      <li class=""><%= link_to 'Edit', edit_tenant_path(@tenant) %></li>
      <li class="">
          <%= link_to 'Delete', @tenant, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
      <li class=""><%= link_to 'Back to All Tenants', tenants_path %></li>
    </ul>
  </div>

</div>