<p id="notice"><%= notice %></p>

<h1><%= @tenant.name %><br>
<h3><%= @tenant.property.address %></h3>

<p>
  <%= @tenant.email %><br>
  <%= @tenant.phone %><br>
  <%= @tenant.status %><br>
</p>


<div class="well">
  <ul class="nav nav-pills">
    <li class=""><%= link_to 'Edit', edit_tenant_path(@tenant) %></li>
    <li class="">
        <%= link_to 'Delete', @tenant, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <li class=""><%= link_to 'Back to All Tenants', tenants_path %></li>
  </ul>
</div>
