<p id="notice"><%= notice %></p>

<h1><%= @tenant.name %><br>
<h3><%= @tenant.property.address %></h3>

<p>
  <%= @tenant.email %><br>
  <%= @tenant.phone %><br>
  <%= @tenant.status %><br>
</p>

<h3>Rent Payments</h3>

<table>
  <tr>
    <th>Ammount</th>
    <th>Status</th>
    <th>Due Date</th>
  </tr>
  <% @tenant.rent_payments.each do |payment| %>
  <tr>
    <td><%= link_to payment.ammount, rent_payment_path(payment.id) %></td>
    <td><%= payment.status %></td>
    <td><%= payment.date_due %></td>
  </tr>

  <% end %>
</table>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
