<% @client.account.sms.messages.list({
    :to => '+16613731600'}).each do |sms| %>
    <%= puts sms.direction %>
<% end %>

<div class="row">
</div>

	<% @client.account.sms.messages.list.first(10).reverse.each do |sms| %>
			 <% if sms.direction == 'inbound' %>
			
			 <div class="row">
				<div class="message-in col-md-7 col-sm-9 col-xs-10">
	    			<%= sms.date_created.to_date.strftime('%x') %> : <%= sms.status.capitalize %> <br>
	    			<p><strong><%= sms.body %></strong></p>
	    			<badge><%= sms.to %></badge><br>
	    		</div>
	    	</div>

    		<% else %>

    		<div class="row">
    			<div class="col-md-5 col-sm-3 col-xs-2"></div>
    			<div class="message-out col-md-7 col-sm-9 col-xs-10 message">
	    			<%= sms.date_created.to_date.strftime('%x') %> : <%= sms.status.capitalize %><br>
	    			<p><strong><%= sms.body %></strong></p>
	    			<%= sms.to %><br>
	    		</div>
	    	</div>
	    	
    		<% end %>
			<% end %>

<div id="pgbtm"></div>

<nav class="navbar navbar-default navbar-fixed-bottom" >
  <div class="well">
  <div class="container">
  	<%= form_for @message do |f| %>
<div class="form-group">
	<%= f.label 'Send a new message to' %><br>
    <%= collection_select(:message, :tenant_id, current_landlord.tenants, :id, :name ,{},{class: 'form-control'})%>
</div>
<div class="form-group">
	<%= f.label :body %>
	<%= f.text_field :body, class:"form-control" %>
</div>

<div class="form-action">
	<%= f.submit 'Send', class:"btn btn-primary"%>
</div>

<% end %>`
  </div>
</div>
</nav>

