<h1>Create a new Message</h1>

<%= form_for @message do |f| %>
<div class="form-group">
	<%= f.label 'Send a new message to' %><br>
    <%= collection_select(:message, :tenant_id, current_landlord.tenants, :id, :name ,{},{class: 'form-control'})%>
</div>
<div class="form-group">
	<%= f.label :body %>
	<%= f.text_field :body, class:"form-control" %>
</div>

<div class="form-action">
	<%= f.submit class:"btn btn-primary"%>
</div>

<% end %>`