


<h1>Rent Management</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Tenant</th>
      <th>Ammount</th>
      <th>Date due</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @rent_payments.each do |rent_payment| %>
      <tr>
        <td><%= link_to rent_payment.tenant.name, tenant_path(rent_payment.tenant.id) %></td>
        <td><%= rent_payment.ammount %></td>
        <td><%= rent_payment.date_due %></td>
        <td><%= rent_payment.status %></td>
        <td><%= link_to 'Details of this Rent', rent_payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


<%= link_to 'Enter a Rent Payment', new_rent_payment_path, class:"btn btn-success" %>

