<h1>Listing rent_payments</h1>

<table>
  <thead>
    <tr>
      <th>Ammount</th>
      <th>Date due</th>
      <th>Date paid</th>
      <th>Status</th>
      <th>Reff</th>
      <th>Method</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rent_payments.each do |rent_payment| %>
      <tr>
        <td><%= rent_payment.ammount %></td>
        <td><%= rent_payment.date_due %></td>
        <td><%= rent_payment.date_paid %></td>
        <td><%= rent_payment.status %></td>
        <td><%= rent_payment.reff %></td>
        <td><%= rent_payment.method %></td>
        <td><%= link_to 'Show', rent_payment %></td>
        <td><%= link_to 'Edit', edit_rent_payment_path(rent_payment) %></td>
        <td><%= link_to 'Destroy', rent_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent payment', new_rent_payment_path %>
