

<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Full Address of Property' %><br>
    <%= f.text_field :address, class:"form-control", required:"true" %>
  </div>
  <div class="form-group">
    <%= f.label 'Monthly Rent' %><br>
    <%= f.number_field :rent, class:"form-control" %>
  </div>
<!--   <div class="form-group">
    <%= f.label 'Rent is due on the' %><br>
    <%= f.select :rdue,[[1.ordinalize,1],[2.ordinalize,2],[3.ordinalize,3],[4.ordinalize,4],[5.ordinalize,5],[6.ordinalize,6],[7.ordinalize,7],[8.ordinalize,8],[9.ordinalize,9],[10.ordinalize,10],[11.ordinalize,11],[12.ordinalize,12],[13.ordinalize,13],[14.ordinalize,14],[15.ordinalize,15],[16.ordinalize,16],[17.ordinalize,17],[18.ordinalize,18],[19.ordinalize,19],[20.ordinalize,20],[21.ordinalize,21],[22.ordinalize,22],[23.ordinalize,23],[24.ordinalize,24],[25.ordinalize,25],[26.ordinalize,26],[27.ordinalize,27],[28.ordinalize,28],[29.ordinalize,29],[30.ordinalize,30],[31.ordinalize,31]] ,{},{class: 'form-control'} %>
  </div> -->
  
  <div class="form-group">
    <%= f.submit class:"btn btn-default"%>
  </div>
  
<% end %>



