

<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Full Address of Property' %><br>
    <%= f.text_field :address, class:"form-control", required:"true" %>
  </div>
  <div class="form-group">
    <%= f.label 'Monthly Rent' %><br>
    <%= f.number_field :rent, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.select :status, [["Occupied","Occupied"],["Vacant","Vacant"]],{},{class: 'form-control'} %>
  </div>
  
  <div class="form-group">
    <%= f.submit class:"btn btn-default"%>
  </div>
<% end %>