
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-6">
    <div class="well">
      <h4><%= @property.address %></h4>
    </div>
  </div>
</div>

<ul class="list-group">

  <li class="list-group-item">
    <strong>Monthly Rent: </strong><%= @property.rent %>
  </li>

    <% @property.tenants.each do |tenant|%>
    <li class="list-group-item">
    <strong>Tenant: </strong> <%= link_to tenant.name, tenant_path(tenant.id) %>
    <% end %>
    </li>

</ul>


<h3>Rent payments for property</h3>

	<% @property.rent_payments.all.each do |rent|  %>
		<%= rent.ammount %> is due on <%= rent.date_due %> and is <%= rent.status %>. <br>
	<% end %>

<div class="well">

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>|
<td><%= link_to 'Delete this property', @property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
