<p id="notice"><%= notice %></p>


<h2><%= @property.address %> <small>Property Details</small></h2>
<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>
<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>
<p>
  <strong>Landlord:</strong>
  <%= link_to @property.landlord.name, landlord_path(@property.landlord.id) %>
</p>
<p>
  <strong>Tenants:</strong>
  <% @property.tenants.each do |tenant|%>
    <%= link_to tenant.name, tenant_path(tenant.id) %><br>
  <% end %>
</p>

<h2>Rent payments for property</h2>
<p>
	<% @property.rent_payments.all.each do |rent|  %>
		<%= rent.ammount %> is due on <%= rent.date_due %> and is <%= rent.status %>. <br>
	<% end %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>|
<td><%= link_to 'Delete this property', @property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
