<div class="container">

<div class="row">
	<div class="col-lg-4">
		<div class="well">
		  <h4><%= current_landlord.name %></h4>
			<%= current_landlord.address %><br>
		  <%= current_landlord.email %><br>
		  <%= current_landlord.phone %><br>
		</div>
	</div>
</div>


<h2>Properties</h2>
<table class="table">
	<tr>
		<th>Property Address</th>
		<th>Monthly Rent</th>
	</tr>
	<% current_landlord.properties.each do |property| %>
	<tr>
		<td><%= property.address %></td>
		<td><%= property.rent %></td>
	</tr>
	<br>
	<% end %>
</table>


<h2>Property Notes</h2>
<table class="table">
	<tr>
		<th>Property</th>
		<th>Date</th>
		<th>Note</th>
	</tr>
	<% current_landlord.properties.each do |property| %>
	<% property.notes.each do |note| %>
	<tr>
		<td><%= note.property.address %></td>
		<td><%= note.created_at.strftime("%m/%d/%Y") %></td>
		<td><%= note.text %></td>
	</tr>
	<% end %>
	<% end %>
</table>



<h2>Tenants</h2>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Status</th>
		<th>Property</th>
	</tr>
	<% current_landlord.tenants.each do |tenant| %>
	<tr>
		<td><%= tenant.name %></td>
		<td><%= tenant.email %></td>
		<td><%= tenant.phone %></td>
		<td><%= tenant.status.titleize %></td>
		<td><%= tenant.property.address %></td>
	</tr>
<% end %>
</table>



<h2>Issues</h2>
<table class="table">
	<tr>
		<th>Property</th>
		<th>Status</th>
		<th>Issue</th>
	</tr>
	<% current_landlord.properties.each do |property| %>
	<% property.issues.each do |issue| %>
	<tr>
		<td><%= issue.property.address %></td>
		<td><%= issue.status.titleize %></td>
		<td><%= issue.note %></td>
	</tr>
	<% end %>
	<% end %>
</table>

<h1>Accounting</h1>
<% current_landlord.accounting_transactions.each do |transaction| %>
<%= transaction.ammount %>
<% end %>


</div>