<%= form_for(@accounting_transaction) do |f| %>

<%= hidden_field_tag('accounting_transaction[category]', 'expense') %><br>

<div class="form-group">
  <%= f.label 'Property' %><br>
  <%= collection_select(:accounting_transaction, :property_id, current_landlord.properties, :id, :address, {},{class:"form-control"}) %>
</div>

  <div class="form-group">
      <%= f.label :for %><br>
      <%= f.select :for, [["Utilities","Utilities"],["Repairs","Repairs"],["Insurance","Insurance"],["Improvment","Improvment"],["Cleaning","Cleaning"],["Advertising","Advertising"],["Labor","Labor"],["Proffessinal Services","Proffessinal Services"],["Other","Other"]],{},{class: 'form-control'} %>
    </div>

  <div class="form-group">
    <%= f.label :ammount %><br>
    <%= f.number_field :ammount, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Method' %><br>
    <%= f.select :p_method, [["Check","Check"],["Online Billpay","Online Billpay"],["Cash","Cash"],["Transfer","Transfer"],["Other","Other"]],{},{class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :reff_number %><br>
    <%= f.text_field :reff_number, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.text_field :notes, class:'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Post as Expense',class:"btn btn-danger"%>
  </div>

<% end %>
