<p id="notice"><%= notice %></p>

<h2>Details</h2>
<p>
  <%= @landlord.name %><br>
  <%= @landlord.address %>
</p>
<p>
  <%= @landlord.email %><br>
  <%= @landlord.phone %>
</p>

<h3>Properties Owned By <%= @landlord.name %></h3>
	<ul class="list-group">
	<% @landlord.properties.each do |property| %>
		<li class="list-group-item">
			<%= link_to property.address, property_path(property.id) %></li>
	<% end %>
	</ul>
</p>

<h3>Tenants of <%= @landlord.name %>'s Properties</h3>
	<ul class="list-group">
	<% @landlord.tenants.all.each do |tenant|  %>
		<li class="list-group-item"><%= link_to tenant.name, tenant_path(tenant.id) %></li>
	<% end %>
	</ul>

</p>

<%= link_to 'Edit', edit_landlord_path(@landlord) %> |
<%= link_to 'Back', landlords_path %> |
<td><%= link_to 'Destroy', @landlord, method: :delete, data: { confirm: 'Are you sure?' } %></td>