<div class="container">

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-lg-4">
		<div class="well">
		  <h4><%= @landlord.name %></h4>
			<%= @landlord.address %><br>
		  <%= @landlord.email %><br>
		  <%= @landlord.phone %><br>
		</div>
	</div>
</div>

<h4>Properties</h4>
	<ul class="list-group">
	<% @landlord.properties.each do |property| %>
		<li class="list-group-item">
			<%= link_to property.address, property_path(property.id) %></li>
	<% end %>
	</ul>
</p>

<h4>Tenants</h4>
	<ul class="list-group">
	<% @landlord.tenants.all.each do |tenant|  %>
		<li class="list-group-item"><%= link_to tenant.name, tenant_path(tenant.id) %></li>
	<% end %>
	</ul>

<h4>Open Issues</h4>
	<ul class="list-group">
	<% @landlord.issues.not_complete.each do |issue|  %>
		<li class="list-group-item"><%= link_to issue.note, issue_path(issue.id) %></li>
	<% end %>
	</ul>

</p>

<div class="well well-sm center">
<%= link_to 'Update Profile Information', edit_landlord_path(@landlord) %> 
<%= link_to 'Export All Data (May take a minute to load)', export_path %> 
</div>

</div>