<!DOCTYPE html>
<html>
<head>
  <title>Rent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="mheader">
	<%= link_to 'Landlords', landlords_path %>
	<%= link_to 'Properties', properties_path %>
	<%= link_to 'Tenants', tenants_path %>
	<%= link_to 'Rent', rent_payments_path %>
</div>

<%= yield %>

</body>
</html>
