<!DOCTYPE html>
<html>
<head>
  <title>Rent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><div class="glyphicon glyphicon-home"></div> Rent</a>
        </div>
          <ul class="nav navbar-nav">
            <% if current_landlord %>
            <li><%=link_to 'Properties', properties_path%></li>
            <li><%=link_to 'Tenants', tenants_path %></li>
            <li><%=link_to 'Rent', rent_payments_path %></li>
            <li><%=link_to 'Issues', issues_path %></li>
              <li><%= link_to "Logout", '/logout' %></li>
              <li><%=link_to 'Set Up', current_landlord %></li>
                <% else %>
                <li><%= link_to 'Login', '/login' %></li>
                <li><%= link_to 'Signup', '/signup' %></li>
                <% end %>
          </ul>
      </div>
</nav>
<% if current_landlord %>
              You are logged in as: <%= current_landlord.name %>.
                <% end %>


<div class="container">

	<%= yield %>

</div>

</body>
</html>
