<!DOCTYPE html>
<html>
<head>
  <title>Rent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <header class="navbar navbar-default" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle btn btn-default" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_landlord %>
      <a href="/dashboard" class="navbar-brand"><div class="glyphicon glyphicon-home"></div></a></a>
      <% else %>
      <a href="../" class="navbar-brand"><div class="glyphicon glyphicon-home"></div></a></a>
      <% end %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
            <% if current_landlord %>
              <li><a href="/properties">Properties <div class="badge"><%= current_landlord.properties.count %></div></a></li>
              <li><a href="/tenants">Tenants <div class="badge"><%= current_landlord.tenants.active.count %></div></a></li>
              <li><a href="/issues">Issues <div class="badge"><%= current_landlord.issues.not_complete.count %></div></a></li>
              <li><%=link_to 'Accounting', accounting_transactions_path %></li>
              <li><%= link_to "Logout", '/logout' %></li>
            <% else %>
              <li><%= link_to 'Login', '/login' %></li>
              <li><%= link_to 'Signup', '/signup' %></li>
            <% end %>
          </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_landlord %>
          <li><%=link_to current_landlord.name, current_landlord %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


<div class="container">

	<%= yield %>
</div>

</body>
</html>
